target/
*.class
*.jar
*.war
*.ear
*.logs
*.log
.mvn/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath
HELP.md
mvnw
mvnw.cmd
.gitignore
.gitattributes
README.md
*.md
.git/
.gitignore
docker-compose*.yml
Dockerfile
.dockerignore
